@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
    font-family: "OtomanopeeOne";
    src: url("../fonts/OtomanopeeOne-Regular.ttf");
}
:root {
    --bg-primary: #4D5BB3;

    --bg-blue-1: #81C8FA;
    --bg-blue-2: #ACD8F5;
    --bg-pink: #FFB1CB;
    --bg-pink-2: #FFC4DA;
    --bg-pink-3: #FFDBEC;
    --bg-yellow: #F5E9D9;
    --bg-purple: #92A5E8;
    --bg-turquesa: #A8D9DD;
    --Text-primary: #242424;
    --bg-gray: #242424;

    --font-poppins: "Poppins", sans-serif;
    --font-OtomanopeeOne: "OtomanopeeOne", sans-serif;

    --ico-place:  url(../img/Icon_place.webp);

}